@media only screen and (min-width: 300px) {
	.product-wrapper {
		width: 30%;
   display: flex;
   flex-wrap: nowrap;
	}
}
@media (max-width: 800px) {
  .col-25 {
    margin-bottom: 20px;
  }
}


@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
    

	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
    

	}
}
@keyframes example{
    from {background-color: rgba(rgb(204, 164, 164), green, rgb(107, 107, 224), alpha, 0.6);}
    to {background-color: black;}
}
@keyframes button{
    from {background-color: rgba(rgb(250, 241, 241), green, rgb(0, 0, 133), alpha, 0.6);}
    to {background-color: black;}
}
@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(230, 211, 188);
}
.slider {
   width: 800px;
   height: 500px;
   overflow: hidden;
   border: 10px solid #000;
}

.middle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-wrap: nowrap;
}

.navigation {
   position: absolute;
   bottom: 16px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   flex-wrap: nowrap;
}

.bar {
   width: 30px;
   height: 8px;
   margin: 6px;
   cursor: pointer;
   background-color: #000;
   opacity: .5;
   border-radius: 10px;
   transition: all 0.4s ease;
   display: flex;
   flex-wrap: nowrap;
}

.bar:hover {
   opacity: 1;
   transform:scale(1.1);
   display: flex;
   flex-wrap: nowrap;
}

input[name="r"] {
   position: absolute;
   visibility: hidden;
   display: flex;
   flex-wrap: nowrap;
}
.swiper{
    width: 1000px;
    height: 100%;
  }
  .swiper-slide{
    text-align: center;
    font-size: 18px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img{
    width: 58%;
    object-fit: cover;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 140px !important;
    left: auto;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 140px !important;
    right: auto;
  }

.photo{
   width: 230px;
   height: 210px;
   display: flex;
   flex-wrap: nowrap;


}
.active{
 display: block;
 width: 230px;
height: 210px;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.swiper .mySwiper
{
    display: flex;
    background-color: rgba(192, 184, 173, 0.6);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}
.swiper
{
    display: flex;
    justify-content: space-around;
}
.right {
    transform: rotate(-45deg);

}
.prev img,
.next img
{
    width: 100px !important;
    height: 100px !important;
    display: flex;
    flex-wrap: nowrap;
}
.left {
    transform: rotate(135deg);

}

.up {
    transform: rotate(-135deg);

}

.down {
    transform: rotate(45deg);

}
#phooto{
    width: 190px;
    height: 140px;
    padding-right: 60px;
    border-top: 50px;
    display: flex;
    flex-wrap: nowrap;
}
#phito{
    width: 150px;
    height: 140px;
    margin-left: 50px;
    display: flex;
    flex-wrap: nowrap;
}
.tetx{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}
.text{
  margin-left: 150px;
}
.map{
    display: flex;
    flex-direction: column;
}
.mapp {
    display: flex;
    flex-wrap: nowrap;
    margin-left:100px;
    transition: 1s;
    display: flex;
    flex-wrap: nowrap;

}
.mapp:hover{
    transform: scale(1.1);
}
#tr{
    text-align: center;
    padding: 20px;
}

.center
{
    display: flex;
    justify-content: center;
}
.product-wrapper {
	display: block;
	width: 30%;
	float: left;
	transition: width .2s;
    animation-name: example;
    animation-duration: 10s;
    background-color: #888;

}
.product {
    padding: 30px;
	display: block;
	border: 1px solid #071b02;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #d6d0d0;
	z-index: 0;
	height: 300px;
    width: 30%;
}
.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}
.product:hover .product-photo img {
	transform: scale(1.05);
}
.product p {
	position: relative;
	margin: 0;
	font-size: 1em;
	line-height: 1.4em;
	overflow: hidden;
}
.product p:after {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 4.2em;
	height: 1.6em;
	background: linear-gradient(to left top, #e6e0e0, rgba(255, 255, 255, 0));
}
.product-price-old b,
.product-price-old small {
	color: #888;
}
.product:hover .product-preview {
	transform: translateY(0);
	opacity: 1;
}
.product-button-wrap {
	position: absolute;
	top: 0;
	left: -1px;
	right: -1px;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transform: scaleY(.8);
	transform-origin: top;
	transition: transform .2s ease-out;
	z-index: -1;
	backface-visibility: hidden;
  display: flex;
  flex-wrap: nowrap;
}
.product-button-wrap:before {
	content: "";
	float: left;
	height: 100%;
	width: 100%;
}
.button {
	position: relative;
	padding: 20px;
	background: #0f0f0f;
	box-shadow: 0 0 20px rgba(10, 10, 10, 0.5);
	border: 1px solid #e6e7e6;
	border-radius: 20px;
    height: 60px;
    width: 100px;
    font-size: 13px;
    display: flex;
    color: #d6d0d0;
    text-align: center;
    justify-content: center;
    padding-left: 20px;
}
.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }
  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url("delete-icn.svg") no-repeat center;
  }
   
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }
  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
  .image {
    margin-right: 50px;
  }
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
  .bass{
    height:40px;
    width:40px;
    margin-top:20px;
  }
  .hito{
    height: 100px;
    width: 150px;
  }
 .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}
